<?xml version="1.0" encoding="UTF-8"?>
<unlock version="3.0">
#if($totalFootprintsCount == 0)
	<error>Footprint not found or is unavailable</error>
#else
  <totalFootprintsCount>$totalFootprintsCount</totalFootprintsCount>
		$output
#end
</unlock>